[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
leptos = { workspace = true, features = [ "ssr" ]}
axum.workspace = true
simple_logger.workspace = true
tokio.workspace = true
tower.workspace = true
tower-http.workspace = true
log.workspace = true
